@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --primary-color: #fc7f09;
    --primary-color-light: #ffffff;
    --primary-color-dark: #db6e09;
    --text-dark: #18181b;
    --text-light: #6b7280;
    --white: #ffffff;
    --max-width: 1400px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    max-width: var(--max-width);
}
header {
    background-color: var(--primary-color-light);
    color: var(--text-dark);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
.main-logo {
    font-size: 2.5rem;

}
#Main-Icon {
    font-weight: 800;
    color: var(--primary-color) !important;
    text-decoration: none;
    transition: 0.3s ease;
}
#Main-Icon:hover {
    transform: scale(1.1);
}
#Secondary-Icon {
    font-weight: 700;
    color: var(--text-dark) !important;
}
.nav-link {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 600;
    padding: 0 !important;
    margin-top: 1rem !important;
    margin-left: 1.7rem !important;
    transition: all 0.3s ease;
}
.nav-link:hover {
    transform: scale(1.05);
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
    border-bottom: solid 2px var(--primary-color);
}
.delivery-icon img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: 0.3s ease;
}
.delivery-icon {
    margin-right: 20px;
    border: solid 2px var(--text-dark);
    border-radius: 100%;
    padding: 10px;
    margin: auto;

}
.delivery-icon:hover {
    background-color: var(--primary-color);
}
.delivery-icon:hover img {
    filter: invert(1);
    transform: scale(1.1);
}
.active_link {
    border-bottom: 2px solid var(--primary-color);
}
.open-sidebar {
    display: none;
    background:none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
    background-color: var(--primary-color);
}
.close-sidebar {
    display: none;
    background:none;
    border: none;
    padding: 1em;
    cursor: pointer;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

/* ======Header Section Start====== */
.main-header-content {
    gap: 2rem;
    overflow: hidden;
    padding: 2%;
    margin: 10% 8% 10% 8%;
}
.main-header-content img {
    max-width: 600px;
    margin-inline: auto;
    border-radius: 100%;
}
.main-header-content h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.2;
    color: var(--text-dark);
    text-align: left;
    width: 80%;

}
.main-header-content h1 span{
    color: var(--primary-color);
}
.main-header-content .section-description{
    margin-bottom: 2rem;
}
.header-content{
    max-height: 100%;
    max-width: 50%;
    text-align: justify;
}
.header-content h1{
    animation: fadeIn 1.7s ease-in , slideInup 1.5s ease-in-out;
}
.header-content p{
    font-size: 1.2rem;
    color: var(--text-light);
    line-height: 1.6;
    margin-bottom: 1.5rem;
    width: 100%;
    font-weight: 400;
    animation: fadeIn 1.7s ease-in, slideInup 1.7s ease-in-out;
}
.header-content button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.7s ease-in, slideInup 1.9s ease-in-out;
}
.header-content button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: black;
    box-shadow: 0 5px 8px #db6e09;
}
.header-image{
    animation: fadeIn 1s ease-in , slideIn 1.5s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
@keyframes slideIn {
    from {
        transform: translateX(+100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideInleft {
    from{
        transform:translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slideInup {
    from {
        transform: translateY(+100%);
    }
    to {
        transform: translateY(0);
    }
}
@media screen and (max-width:850px){
    .open-sidebar, .close-sidebar {
        display: block;
    }
    body{
        text-align: center;
    }
    header {
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        margin-right: 0 !important;
    }
    #icon {
        margin-right: 0;
    }
    #Main-Icon {
        color: var(--primary-color-light) !important;
    }
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(12.5rem, 100%);
        z-index: 10;
        border-left: 1px solid var(--text-dark);
        background-color: var(--white);
        transition: right 300ms ease-out;
    }
    nav.show {
        right: 0;
    }
    nav.show ~ .overlay{
        display: block;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 2rem 1rem;
    }
    .nav-link {
        color: var(--primary-color);
        margin-left: 1rem !important;
        margin-top: 1.5rem !important;
        width: 100%;
        padding: 0.5rem 0 !important;
        font-size: 1.1rem;
        border: none;
    }
    .nav-link:hover {
        color: var(--white);
        transform: scale(1);
        text-shadow: none;
        border-bottom: none;
        background-color: var(--primary-color-dark);
        padding-left: 1rem !important;
    }
    .delivery-icon {
        display: none;
    }
    .main-header-content{
        flex-direction: column !important;
        gap: 1rem;
        margin-top: 120px;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 12%;
        text-align: center;
    }
    .main-header-content img{
        max-width: 500px;
        width: 85%;
        height: 85%;

    }
    .main-header-content h1{
        font-size: 3rem;
        text-align: left;
    }
    .header-content{
        margin-bottom: 2%;
        max-width: 100%;
        padding: 30px;
    }
    .header-content h1{
        animation: fadeIn 1.7s ease-in, slideIn 1.7s ease-in-out;
    }
    .header-content p{
        animation: fadeIn 1.7s ease-in, slideInleft 1.7s ease-in-out;
    }
    .header-content button{
        animation: fadeIn 1.7s ease-in, slideIn 1.7s ease-in-out;
    }
}
@media (width> 1290px) {
  .main-header-content {
    margin-top: 120px;
    margin-left: 10%;
    margin-bottom: 120px;
    margin-right: 10% !important;
    width: 100%;
  }
}


/* ======Hero Section Start====== */
.special-dish-section {
    padding: 2%;
    margin: 10% 8% 10% 8%;
}
.special-dish-heading h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.special-dish-heading p{
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 600px;
    margin-left: 205px;
    color: #6b7280;
    margin-bottom: 2rem;

}
.menu-cards{
    display:inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 1.2rem;
}
.menu-cards img{
    border-radius: 10px; 
    width: 19rem;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.menu-cards h5{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: var(--text-dark);    
}
.menu-cards p{
    text-align: left;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.card-button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: black;
    box-shadow: 0 5px 8px #db6e09;
}
.star{
    margin-left: 5px;
}
.stars i {
    color: goldenrod;
    font-size: 1rem;
}
.card{
    border-color: transparent;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.005);
}
@media screen and (max-width: 850px) {
    .special-dish-heading p{
        max-width: 100%;
        margin-left: 0;
    }
    .menu-cards {
        grid-template-columns: 1fr;
    }
    .special-dish-heading h2{
    font-size: 2.3rem;
    }
    .special-dish-heading{
        
        margin-top: 2rem;
    }
}
