/* ====== Hero Section Component ====== */
.main-header-content {
    gap: 2rem;
    overflow: hidden;
    padding: 2%;
    margin: 10% 8% 10% 8%;
}
.main-header-content img {
    max-width: 600px;
    margin-inline: auto;
    border-radius: 100%;
}
.main-header-content h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.2;
    color: var(--text-dark);
    text-align: left;
    width: 80%;
}
.main-header-content h1 span{
    color: var(--primary-color);
}
.main-header-content .section-description{
    margin-bottom: 2rem;
}
.header-content{
    max-height: 100%;
    max-width: 50%;
    text-align: justify;
}
.header-content h1{
    animation: fadeIn 1.7s ease-in , slideInup 1.5s ease-in-out;
}
.header-content p{
    font-size: 1.2rem;
    color: var(--text-light);
    line-height: 1.6;
    margin-bottom: 1.5rem;
    width: 100%;
    font-weight: 400;
    animation: fadeIn 1.7s ease-in, slideInup 1.7s ease-in-out;
}
.header-content button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.7s ease-in, slideInup 1.9s ease-in-out;
}
.header-content button:hover{
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: black;
    box-shadow: 0 5px 8px #db6e09;
}
.header-image{
    animation: fadeIn 1s ease-in , slideIn 1.5s ease-in-out;
} 