/* ====== Menu Section Component ====== */
.special-dish-section {
    padding: 2%;
    margin: 10% 8% 10% 8%;
}
.special-dish-heading h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.special-dish-heading p{
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 600px;
    margin-left: 205px;
    color: #6b7280;
    margin-bottom: 2rem;
}
.menu-cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 1.2rem;
}
.menu-cards img{
    border-radius: 10px; 
    width: 19rem;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.menu-cards h5{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: var(--text-dark);    
}
.menu-cards p{
    text-align: left;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.price-tag {
    text-align: left;
    margin: 1rem 0;
}

.price {
    background: var(--white);
    color: var(--text-dark);
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s ease;
}

.card-button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: black;
    box-shadow: 0 5px 8px #db6e09;
}
.star{
    margin-left: 5px;
}
.stars i {
    color: goldenrod;
    font-size: 1rem;
}
.card{
    border-color: transparent;
    border-radius: 20px;
}
.card:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.005);
} 


/* ====== Responsive Layout ====== */
@media screen and (max-width:850px){
    .open-sidebar, .close-sidebar {
        display: block;
    }
    body{
        text-align: center;
    }
    header {
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        margin-right: 0 !important;
    }
    #icon {
        margin-right: 0;
    }
    #Main-Icon {
        color: var(--primary-color-light) !important;
    }
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(12.5rem, 100%);
        z-index: 10;
        border-left: 1px solid var(--text-dark);
        background-color: var(--white);
        transition: right 300ms ease-out;
    }
    nav.show {
        right: 0;
    }
    nav.show ~ .overlay{
        display: block;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 2rem 1rem;
    }
    .nav-link {
        color: var(--primary-color);
        margin-left: 1rem !important;
        margin-top: 1.5rem !important;
        width: 100%;
        padding: 0.5rem 0 !important;
        font-size: 1.1rem;
        border: none;
    }
    .nav-link:hover {
        color: var(--white);
        transform: scale(1);
        text-shadow: none;
        border-bottom: none;
        background-color: var(--primary-color-dark);
        padding-left: 1rem !important;
    }
    .delivery-icon {
        display: none;
    }
    .main-header-content{
        flex-direction: column !important;
        gap: 1rem;
        margin-top: 120px;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 12%;
        text-align: center;
    }
    .main-header-content img{
        max-width: 500px;
        width: 85%;
        height: 85%;
    }
    .main-header-content h1{
        font-size: 3rem;
        text-align: left;
    }
    .header-content{
        margin-bottom: 2%;
        max-width: 100%;
        padding: 30px;
    }
    .header-content h1{
        animation: fadeIn 1.7s ease-in, slideIn 1.7s ease-in-out;
    }
    .header-content p{
        animation: fadeIn 1.7s ease-in, slideInleft 1.7s ease-in-out;
    }
    .header-content button{
        animation: fadeIn 1.7s ease-in, slideIn 1.7s ease-in-out;
    }
    .special-dish-heading p{
        max-width: 100%;
        margin-left: 0;
    }
    .menu-cards {
        grid-template-columns: 1fr;
    }
    .special-dish-heading h2{
        font-size: 2.3rem;
    }
    .special-dish-heading{
        margin-top: 2rem;
    }
}
@media (width> 1290px) {
  .main-header-content {
    margin-top: 120px;
    margin-left: 10%;
    margin-bottom: 120px;
    margin-right: 10% !important;
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
    .special-dish-heading p{
        max-width: 100%;
        margin-left: 0;
    }
    .menu-cards {
        grid-template-columns: 1fr;
    }
} 